{% extends 'base.html' %}

{% block content %}
	<h2>Posts</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>{{ post[0] }}</td>
					<td><a href="/posts/{{ post[0] }}">{{ post[1] }}</a></td>
					<td>{{ post[2] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<form action="/posts/new">
    	<button>Write a Post</button>
  	</form>
  	<br>
	<form action="/">
		<button>Go to Main Page</button>
	</form>
{% endblock %}